body{
    margin: auto 0;
    width: 400px;
    padding: 10px;
}

header{
    background-color: aquamarine;

}

h3{
    font-size: 36px;
    margin-bottom: 10px;
}
section{
    border: 1px solid;
    border-radius: 15px;
    background: linear-gradient(to bottom,#60EB27,#E5FB00,#07F1C0);
}

.scrnDisplay{
    width: 370px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    display: block;
}

#keyFrame {
    padding: 10px;
    margin-left: 20px;
}

.savePort{
    width: 73px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    border: 2px solid;
    border-radius: 5px;
}

.numberFrame{
    margin-top: 20px;

}

.firstBack{
    margin-bottom: 5px;
}

.secondDot{
    margin-bottom: 5px;
}
.thirdZero{
    margin-bottom: 5px;
}
.plusMinus{
    margin-bottom: 5px;
}
.lastEqual{
    margin-bottom: 5px;
}
.numberBtn {
    width: 30px;
    height: 30px;
    margin: 2px;
    border: 2px solid;
    border-radius: 5px;
    font-weight: 900;
    
}

.toggleBtn {
    margin-left: 2px;
    width: 70px;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
}

#historyDisplay{
    border: 1px solid;
    height: 50px;
    border-radius: 15px;
}